@font-face {
    font-family: 'Acme';
    src: url('../fonts/Acme-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NewAmsterdam';
    src: url('../fonts/NewAmsterdam-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Acme";
    font-size: 18px;
    font-weight: 300;
}
:root {
    --principal: #4569cc;
}
/* MAIN */
main {
    padding-top: 70px;
}

/* INICIO */
#inicio {
    width: 100%;
    height: 90vh;
    background: url("../img/background-mobile.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 24px;
}
#inicio h1 {
    font-family: "NewAmsterdam";
    font-size: 2.2em;
    font-weight: bold;
    color: #FFF;
    letter-spacing: 5px;
    text-shadow: 0 0 20px #000000ab;
    text-align: center;
}
#sinopse {
    background-color: #ececec;
    padding: 12px;
    border: 4px solid #000;
    max-width: 600px;
    text-align: center;
}
@media (min-width: 550px) {
    #inicio {
        background: url("../img/background.jpg") no-repeat top center;
        background-size: cover;
        justify-content: space-between;
    }
    #inicio h1 {
        font-size: 5rem;
    }
    #sinopse p {
        font-size: 1.2rem
    }
    .logo p {
        transition: linear .3s;
        &:hover {
            color: var(--principal);
        }
    }
}

/* SOBRE */
#sobre {
    background-color: #F1F7FD;
    padding: 14px;
}

.content {
    background-color: #D6E3F2;
    border: 6px solid #000;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 24px;
    padding: 24px 60px;
}

.titulo {
    font-family: "NewAmsterdam";
    font-size: 5rem;
    font-weight: bolder;
    color: #353535;
    text-align: center;
}

.resumo {
    font-family: "Acme";
    font-size: 1.5rem;
    font-weight: bolder;
    color:
     #1b1b1b;
}

.buttons {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.button:nth-child(1) {
    rotate: -45deg;
    border-top: 3px solid #6e6e6e;
    border-left: 3px solid #6e6e6e;
}

.button:nth-child(2) {
    rotate: 45deg;
    border-top: 3px solid #292929;
    border-right: 3px solid #292929;
}

.image {
    width: 100%;
    /* z-index: -1; */
}

.image img {
    width: 100%;
    position: relative;
    bottom: -8px;
    filter: drop-shadow(4px 0 8px #0000006c);
}

.texto .criadores {
    display: none;
}

.texto.active .button:nth-child(1) {
    border-top: 3px solid #292929;
    border-left: 3px solid #292929;
}

.texto.active .button:nth-child(2) {
    border-top: 3px solid #6e6e6e;
    border-right: 3px solid #6e6e6e;
}

.texto.active .historia{
    position: absolute;
    width: 400px;
    left: -100%;
    display: none;
}

.texto.active .criadores {
    display: flex;
    flex-direction: column;
}

.perfis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-bottom: 29px;
}

.foto {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    z-index: 0;
}
.foto img {
    width: 100%;
    border-radius: 50%;
}

.foto::after,
.foto::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    padding: 4px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: rotacao infinite linear 2s;
    z-index: -1;
}

.perfil:nth-child(1) .foto::after,
.perfil:nth-child(1) .foto::before {
    background-image: conic-gradient( transparent 20%, #ff3939 );
}

.perfil:nth-child(2) .foto::after,
.perfil:nth-child(2) .foto::before {
    background-image: conic-gradient( transparent 20%, #2b98f1 );
}

.foto::before {
    filter: blur(.8rem);
}

@keyframes rotacao {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 200px;
}

.nome {
    font-family: "NewAmsterdam";
    font-size: 1.5rem;
    color: #353535;
}

.cargo {
    font-family: "Acme";
    font-size: 1rem;
    color: #444444;
    margin-bottom: 12px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.social img {
    width: 28px;
}

@media (min-width: 1160px) {
    .content {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        text-align: justify;
        padding: 24px 60px;
        position: relative;
    }
    .historia {
        max-width: 400px;
    }
    .image {
        max-width: 700px;
        max-height: 600px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .image img {
        width: 100%;
        height: 100%;
    }
}
